html,
body {
  padding: 0;
  margin: 0;
  background-color:#9fdfbe;
  height:auto;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
